body{
	margin:0px;
	margin:0px;
	background:#e5edf0;
}

/*-- sidebar --*/
.sidenav {
  height: 100%;
  width: 228px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #414755;
  overflow-x: hidden;
  padding-top: 20px;
  }

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  display: block;
}

.sidenav a:hover {
  color: #eee;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/*-- //sidebar --*/

/* -- Navbar --*/
.navbar{
	background:#3b5998;
	border-radius: 0px;
  z-index:3;
  	
}


.navbar ul li a{
    
    color:#fff!important;
}
.navbar ul li a:hover{
    color:#eee!important;
    background:none!important;
}
.navbar-brand{color: #fff;}
.navbar-brand:hover{
	color: #eee;
}

.navbar-toggle .icon-bar{
  background:#fff;
}
/*-- //Navbar --*/

/*-- table --*/

h4{
  text-align: center;
  font-weight:bold; 
}
.table{
  background: #fff;
}
/*-- //table --*/