body{
	padding:0px;
	margin:0px;
	background:#e5edf0;
  
}

/*-- sidebar --*/
.sidenav {
  height: 100%;
  width: 228px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #414755;
  overflow-x: hidden;
  padding-top: 20px;
  }

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  display: block;
}

.sidenav a:hover {
  color: #eee;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/*-- //sidebar --*/

/* -- Navbar --*/
.navbar{
	background:#3b5998;
	border-radius: 0px;
  z-index:3;
  	
}


.navbar ul li a{
    
    color:#fff!important;
}
.navbar ul li a:hover{
    color:#eee!important;
    background:none!important;
}
.navbar-brand{color: #fff;}
.navbar-brand:hover{
	color: #eee;
}

.navbar-toggle .icon-bar{
  background:#fff;
}
/*-- //Navbar --*/

/*-- card --*/
.card{
  background: #fff;
  padding: 10px;
  
  }
  /*-- // card --*/

/*-- cardheader --*/
h3{
  font-size: 15px;
  font-weight: bold;
  color: #f71326;
}
/*-- //cardheader --*/

/* -- cardbody --*/
.card-body{
  border:2px solid #000;
  box-shadow: 5px 5px 5px  #333;
  padding: 5px;
  box-sizing: border-box;
  }

h6{
  
  font-size:20px;
  font-weight: bold;
  color: #838282;
}
.pra{
  color: #838282;
}

.cmt{
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #838282;
  }
.cmtbox{
  background:#fff;
  padding: 5px
}
.cmtbox1{
  background:#fff;
  padding: 5px
}

.p3{
  text-align: center;
  color: #838383;
}

/*-- // cardbody --*/